# Pandas Basic Assignmnet

# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\hp\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: numpy>=1.17.3 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: pytz>=2017.3 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

data = [4,8,15,16,23,42]

series= pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on thevariable print it.

In [3]:
l = [1,2,3,4,5,6,7,8,9,10]

series_var = pd.Series(l)

print(series_var)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

# Q3. Create a Pandas DataFrame that contains the following data:

Name        Age       Gender

Alice       25        Female

Bob         30        Male

Claire      27        Female

In [4]:
Data = {
    'Name' : ['Alice' , 'Bob' , 'Claire'],
    'Age' : [25 , 30 , 27],
    'Gender' : ['Female' , 'Male' , 'Female']
}

df = pd.DataFrame(Data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

The DataFrame is a fundamental data structure that represents a two-dimensional, size-mutable, and heterogeneous tabular data structure. It is similar to a spreadsheet or a SQL table, where data is organized in rows and columns. 

On the other hand, a Series is another data structure provided by pandas, which represents a one-dimensional labeled array. It can be thought of as a single column of data with an associated label, called an index.

In [5]:
data1 = {
    'Name': ['Rakesh', 'Manish', 'Gopal', 'Vivek'],
    'Age': [25, 30, 22, 28],
    'City': ['Bihar', 'Uttrakhand', 'Chennai', 'Himachal']
}

df = pd.DataFrame(data1)

ages = pd.Series([25, 30, 22, 28], name='Age')

print("DataFrame:")
print(df)
print("\nSeries:")
print(ages)

DataFrame:
     Name  Age        City
0  Rakesh   25       Bihar
1  Manish   30  Uttrakhand
2   Gopal   22     Chennai
3   Vivek   28    Himachal

Series:
0    25
1    30
2    22
3    28
Name: Age, dtype: int64

# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Canyou give an example of when you might use one of these functions?

Some Functions that we have taught in Pandas class to Manpulate data in a Pandas DataFrame.

Here are they....

1. Head() and Tail():

These functions allow you to view the first few or last few rows of a DataFrame.

In [2]:
import pandas as pd


data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 22, 28]}

df = pd.DataFrame(data)

print(df.head())  # View the first 5 rows
print(df.tail(2))  # View the last 2 rows

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   22
3    David   28
      Name  Age
2  Charlie   22
3    David   28

2. Columns() :- Return the ;idt of columns

In [3]:
df.columns

Index(['Name', 'Age'], dtype='object')

3. describe(): This function provides summary statistics of the numerical columns in the DataFrame, such as count, mean, standard deviation, minimum, and maximum.

In [4]:
print(df.describe())  # Summary statistics of numerical columns

         Age
count   4.00
mean   26.25
std     3.50
min    22.00
25%    24.25
50%    26.50
75%    28.50
max    30.00

# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Both Series and DataFrame in pandas are mutable, meaning you can modify their contents after creation.

Series represents a one-dimensional labeled array, and you can change its values, add new elements, or remove existing ones.


Similarly, a DataFrame, which is a two-dimensional tabular data structure, is also mutable, allowing you to alter its values, add or remove columns, and perform various data manipulation operations. However, the Panel data structure, which was a three-dimensional data structure in pandas, has been deprecated and is not recommended for new code due to the availability of more flexible alternatives like MultiIndex DataFrames.