# SQL ASSIGNMENT

# Q1. What is a database? Differentiate between SQL and NoSQL databases.

Database is the Structured collection of information that is stored and organized in  a computer system. 

SQL and NoSQL are two different types of database management systems :-
1 . SQL databases, also known as relational databases, are based on the relational model. They organize data into tables.
Key features of SQL databases:

Structure: Data is organized in tables with a predefined schema.
Relationships: Relationships between tables are defined using primary and foreign keys.

2.NoSQL Databases:
NoSQL (Not Only SQL) databases are designed to handle unstructured and semi-structured data. 
Key features of NoSQL databases:

Schema flexibility: NoSQL databases allow for dynamic and flexible schema design.
Scalability: NoSQL databases excel in horizontal scaling (adding more servers to distribute the load).
Performance: They optimize read and write operations for specific use cases.

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) used to define and manage the structure of a database and its objects. DDL commands are responsible for creating, modifying, and deleting database objects like tables, indexes, and views.

CREATE:
The CREATE command is used to create new database objects, such as tables, indexes, or views. Let's take an example of creating a table to store information about employees:

In [1]:
CREATE TABLE employees (
  employee_id INT PRIMARY KEY,
  first_name VARCHAR(50),
  last_name VARCHAR(50),
  job_title VARCHAR(100),
  hire_date DATE
);

SyntaxError: invalid syntax (117461505.py, line 1)

DROP:
The DROP command is used to remove database objects from the database. It permanently deletes the specified object and all the associated data. Let's see an example of dropping the "employees" table:

In [3]:
DROP TABLE employees;

SyntaxError: invalid syntax (3992300431.py, line 1)

ALTER:
The ALTER command is used to modify the structure of an existing database object.
For example, let's add a new column "department" to the "employees" table:

In [ ]:
ALTER TABLE employees
ADD department VARCHAR(100);

TRUNCATE:
The TRUNCATE command is used to remove all data from a table, but it keeps the table structure intact.
Let's truncate the "employees" table:

In [ ]:
TRUNCATE TABLE employees;

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Data Manipulation Language (DML) commands in SQL manage data records stored within the database tables. It does not deal with changes to database objects and their structure. The commonly known DML commands are INSERT, UPDATE, and DELETE. We can consider even SELECT statements as a part of DML command

INSERT - Used to insert new data records or rows in the database table

UPDATE - Used to set the value of a field or column for a particular record to a new value

DELETE - Used to remove one or more rows from the database table

In [4]:
## Insert Example

INSERT INTO employees (employee_id, first_name, last_name, job_title, hire_date, department)
VALUES (101, 'John', 'Doe', 'Software Engineer', '2023-07-19', 'Engineering');

In [ ]:
# Update Example

UPDATE employees
SET job_title = 'Senior Software Engineer'
WHERE employee_id = 101;

In [ ]:
# Delete Example

DELETE FROM employees
WHERE employee_id = 101;

# Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language. Data query language consists of only one command upon which data selection in SQL relies.

The SELECT command is used to retrieve and fetch data from databases/tables based on certain conditions applied by the user.

mployee_id	first_name	last_name	job_title	        hire_date	 department
101	        John	    Doe	        Software Engineer   2023-07-19   Engineering
102         Jane	    Smith	    Data Analyst	    2023-06-15   Analytics
103	        Michael	    Johnson	    Product Manager	    2023-05-21	 poduct

--To retrieve specific data from this table, we can use the SELECT statement:
    
SELECT first_name, last_name, job_title
FROM employees;

In [ ]:
Output:-

first_name	last_name	job_title
John	    Doe	        Software Engineer
Jane	    Smith	    Data Analyst
Michael	    Johnson	    Product Manager

# Q5. Explain Primary Key and Foreign Key.

--PRIMARY KEY

A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence. 

Example: STUD_NO, as well as STUD_PHONE both, are candidate keys for relation STUDENT but STUD_NO can be chosen as the primary key

--FOREIGN KEY

A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table.

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [3]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.1.0-cp310-cp310-manylinux_2_17_x86_64.whl (27.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 27.5/27.5 MB 49.5 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in /opt/conda/lib/python3.10/site-packages (from mysql-connector-python) (4.21.8)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.1.0
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)

1.'Cursor()' method:
-The Cursor() method is used to create a cursor object from a database connection. A cursor is a pointer or an iterator that allows you to interact    with the database and retrieve or manipulate data. 

2.'Execute()' method:
The Execute() method, as the name suggests, is used to execute SQL queries or commands through the cursor object. You can use it to perform various operations like creating tables, inserting data, updating records, deleting data, and querying information from the database.

# Q7. Give the order of execution of SQL clauses in an SQL query.

1	FROM	    Tables are joined to get the base data.

2	WHERE	    The base data is filtered.

3	GROUP BY	The filtered base data is grouped.

4	HAVING	    The grouped base data is filtered.

5	SELECT	    The final data is returned.

6	ORDER BY	The final data is sorted.

7	LIMIT	    The returned data is limited to row count.